.hor-slider {
    display: flex;
    flex-direction: column;
    gap: 8.5rem;
    &.our {
        .hor-slider__item-img {
            border-radius: 0;
        }
    }

    &.articles {
        display: flex;
    }

    &__head {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;

        .swiper-pagination {
            position: static;
        }
    }

    &__footer {
        display: none;
    }

    &__item {
        display: flex;
        flex-direction: column;
        height: 51.5rem;
        position: relative;
        border-radius: 17.85rem;

        &--mrg-top {
            margin-top: 7.1rem;
        }

        .cl-p & {
            @include small-tablet {
                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    box-sizing: border-box;
                    top: 0;
                    left: 0;
                    clip-path: url(#cl-mb-v);
                    border-radius: 36rem;

                    border: 2px solid rgba(255, 255, 255, 0.2);
                    background: linear-gradient(180deg, #fff 4.62%, rgba(255, 255, 255, 0.06) 100%);
                    backdrop-filter: blur(20px);
                }
            }
        }
        .cl-p_mb & {
            @include small-tablet {
                margin-right: 2rem;
                height: auto;
                &::after {
                    content: '';
                    position: absolute;
                    width: calc(100% - 15rem);
                    height: 100%;
                    top: 0;
                    left: 9rem;
                    background-color: #fff;
                    clip-path: url(#cl-mb);
                }
            }
        }
    }

    &__title {
        width: 8.4rem;
        position: absolute;
        z-index: 4;
        left: 50%;
        transform: translate(-50%);
        top: -7.1rem;

        &--bottom {
            top: auto;
            bottom: -5.6rem;
        }
    }

    &__item-img {
        margin: 0 auto;
        margin-top: 6rem;
        height: 22.6rem;
        max-width: 26.3rem;

        .cl-p & {
            margin-top: 3rem;
        }
        .cl-p_mb & {
            @include small-tablet {
                position: absolute;
                left: -8.2rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__item-content {
        position: relative;
        z-index: 3;
        margin-top: auto;
        box-sizing: border-box;
        height: 44rem;
        overflow: hidden;
        border-radius: 17.85rem;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
        border: 2px solid rgba(255, 255, 255, 0.2);

        &:not(.cl-p &) {
            backdrop-filter: blur(2rem);
        }

        &--white {
            overflow: visible;
            height: 44.4rem;
            background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
            margin-top: 0;
            margin-top: 2.1rem;
            position: relative;

            .hor-slider__item-img {
                border-radius: 50%;
                overflow: hidden;
            }

            .cl-p_mb & {
                @include small-tablet {
                    position: relative;
                    z-index: 2;
                    clip-path: none;
                    margin-left: 9rem;
                    padding: 6rem 7rem 6rem 15rem;
                    margin-top: 0;
                    background: none;
                    backdrop-filter: unset;
                }
            }
        }

        .cl-p & {
            clip-path: url(#cl);
            &:not(.cl-p_mb &) {
                @include small-tablet {
                    clip-path: none;
                    background: none;
                    border: none;
                }
            }
        }

        .cl-p_mb & {
            @include small-tablet {
                flex-direction: row-reverse;
                padding: 7.3rem 10rem 7.3rem 16rem;
                border-radius: 34rem;
                border: 2px solid rgba(255, 255, 255, 0);
                background: none;
                height: auto;
            }
        }

        .hor-slider__item-img {
            border-radius: 50%;
            overflow: hidden;

            .cl-p_mb & {
                @include small-tablet {
                    margin-top: 0;
                    background: #fff;
                    border-radius: 50%;
                    padding: 2rem;
                    border: 0.4rem solid #a2b9c3;
                    display: flex;
                    max-width: 15.6rem;
                    width: 100%;
                    height: 15.6rem;
                    align-items: center;
                    justify-content: center;
                    top: 16rem;
                    left: -7rem;
                    margin-bottom: 0;
                }
            }
        }
    }

    &__wrapper {
        display: none;
        width: 100%;
        &.swiper {
            padding-left: 1rem;
            padding-right: 1rem;
        }
        @media (min-width: 48em) {
            .swiper-wrapper {
                transition: none !important;
            }
            .swiper-slide {
                .hor-slider__title,
                .hor-slider__item-img,
                .hor-slider__item-text,
                .hor-slider__item-cart-controlls,
                .hor-slider__item-next-icon {
                    opacity: 0 !important;
                    transition: opacity 1s linear !important;
                }
            }
            .swiper-slide-active,
            .swiper-slide-next,
            .swiper-slide-next + .swiper-slide,
            .swiper-slide-next + .swiper-slide + .swiper-slide {
                .hor-slider__title,
                .hor-slider__item-img,
                .hor-slider__item-text,
                .hor-slider__item-cart-controlls,
                .hor-slider__item-next-icon {
                    opacity: 1 !important;
                    transition: opacity 1s linear !important;
                }
            }
        }
    }

    &__item-text {
        display: flex;
        flex-direction: column;
        width: 54%;
        text-align: center;
        margin: 0 auto;
        margin-top: 1.3rem;
        .text-strong {
            .our & {
                @media (min-width: 48em) {
                    white-space: nowrap;
                }
            }
        }

        .cl-p_mb & {
            @include small-tablet {
                margin: 0 auto 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1.8rem;
                align-items: flex-start;

                .text-slim {
                    max-width: 27rem;
                }

                > strong {
                    font-size: 3rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 0.73rem;
                    text-transform: uppercase;
                    text-align: start;
                }

                > span {
                    font-size: 3rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.45rem;
                    text-align: start;
                }
            }
        }
    }

    &__item-next-icon {
        width: 4.2rem;
        height: 4.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #393531;
        border-radius: 50%;
        position: absolute;
        top: 0rem;
        left: 50%;
        z-index: 3;
        transform: translate(-50%);

        img {
            width: 1.5rem;
            height: 1.5rem;
        }

        .cl-p_mb & {
            @include small-tablet {
                display: none;
            }
        }
        @include small-tablet {
            top: -2.2rem;
            width: 5rem;
            height: 5rem;
            img {
                width: 2rem;
                height: 2rem;
            }
        }
    }

    &__item-price {
        position: relative;
        margin: 0 auto;
        margin-top: 2.2rem;
        display: flex;

        .cl-p_mb & {
            @include small-tablet {
                margin: initial;
                margin-top: 0;
            }
        }
    }

    &__item-cart-controlls {
        display: flex;
        gap: 2.4rem;
        align-items: flex-start;
        left: 50%;
        transform: translate(-50%);
        position: absolute;
        z-index: 2;
        bottom: 0.5rem;

        .cl-p_mb & {
            @include small-tablet {
                flex-direction: column-reverse;
                left: auto;
                right: -5.3rem;
                top: 3.2rem;
                justify-content: flex-end;
                gap: 1rem;
            }
        }
    }

    &__item-cart-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4.2rem;
        border-radius: 50%;
        cursor: pointer;
        box-sizing: border-box;
        height: 4.2rem;
        border: 2px solid #fff;
        transform: translateY(-0.3rem);
        @media (min-width: 48em) {
            visibility: hidden;
        }

        &--minus {
            span {
                margin-bottom: 0.55rem;
                margin-left: 0.1rem;
            }

            .cl-p_mb & {
                @include small-tablet {
                    margin: 0;
                    transform: translate(1rem, -1rem);
                }
            }
        }

        &--plus {
            span {
                margin-top: 0rem;
                margin-left: 0.1rem;
            }

            .cl-p_mb & {
                @include small-tablet {
                    transform: translate(1rem, 0.7rem);
                    margin: 0;
                }
            }
        }

        span {
            display: block;
            color: #fff;
            text-align: center;
            font-family: MaShanZheng;
            font-size: 3rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.9rem;
            width: 1.3rem;

            .cl-p_mb & {
                @include small-tablet {
                    font-size: 6rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 1.8rem;
                }
            }
        }

        .cl-p_mb & {
            @include small-tablet {
                visibility: visible;
                height: 6.6rem;
                width: 6.6rem;
            }
        }
    }

    &__item-cart-icon {
        width: 7.7rem;
        height: 7.7rem;
        cursor: pointer;
        border: 2px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        position: relative;

        img {
            width: 3.0729rem;
            height: 3.7rem;

            .cl-p_mb & {
                @include small-tablet {
                    width: 4.8rem;
                    height: 5.6rem;
                }
            }
        }

        .cl-p_mb & {
            @include small-tablet {
                width: 11.2rem;
                height: 11.2rem;
                transform: translate(1.2rem, -0.2rem);
            }
        }
    }

    &__item-cart-value {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.6rem;
        background-color: #393531;
        border-radius: 50%;
        height: 2.6rem;
        bottom: 1.1rem;
        right: 1.4rem;

        span {
            color: #feffbe;
            text-align: center;
            font-family: Inria Sans;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 0.3rem;
            margin-left: 0.4rem;
        }

        @include small-tablet {
            width: 4rem;
            height: 4rem;
            font-size: 3rem;
        }
    }

    .slider-title {
        span {
            font-weight: 400;
            .articles-carousel & {
                font-weight: 700;
            }
            &.fw300 {
                font-weight: 300;
            }
        }
    }
}

.country-slider {
    .hor-slider__item {
        height: 62rem;
    }

    .hor-slider__item-img {
        height: 26.1rem;
        width: 34.3rem;
        margin-top: -12.5rem;
        margin-bottom: 3.7rem;

        img {
            width: 100%;
            height: 100%;
            -o-object-fit: contain;
            object-fit: contain;
        }
    }

    .hor-slider__item-content {
        overflow: visible;
        margin-bottom: 5.6rem;
    }

    .hor-slider__item-text {
        width: 60%;
        margin-bottom: 8.4rem;

        span {
            margin-bottom: 2.2rem;
        }
    }
}

.mood-slider {
    .hor-slider__item-text {
        margin-top: 3.3rem;
    }
    .hor-slider__item-img {
        img {
            -o-object-fit: contain;
            object-fit: contain;
        }
    }
}

.our-slider {
    .hor-slider__item-img {
        position: relative;
        max-width: 39.1rem;
        max-height: 28.6rem;
        width: 100%;
        height: 28.6rem;
        margin-top: 4.9rem;
        left: 0;
    }
    .hor-slider__item-text {
        width: 55%;
        margin-top: -1rem;
    }
}

.articles-carousel {
    .products-list__pagination {
        display: none;
    }
}

@media (max-width: 48em) {
    .hor-slider__content {
        .cl-p_mb & {
            display: block;
            height: 100%;
        }
    }
    .hor-slider__item {
        .cl-p_mb & {
            height: 100%;
        }
    }

    .slider-title {
        margin: 0 auto;
        .text {
            margin-bottom: 4.4rem;
        }

        .title {
            text-align: center;
        }
    }

    .articles-carousel {
        padding-bottom: 30rem;
        .products-list__pagination {
            margin-top: 0;
            display: block;
        }
    }

    .hor-slider {
        gap: 8.4rem;
        &:not(.ceremony &) {
            .swiper-pagination-bullet {
                &:not(&:first-child, &:nth-child(2), &:nth-child(3), &:nth-child(4)) {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
        &__item {
            border-radius: 11.3685rem * 2;
            &-content {
                height: 28.3rem * 2;
                border-radius: 11.3685rem * 2;
            }
        }
    }

    .hor-slider {
        .hor-slider {
            &__wrapper {
                &.articles-slider {
                    display: none;
                }
                &._mobile-only {
                    display: flex;
                    flex-direction: column;
                    row-gap: 7rem;
                    .swiper-slide {
                        height: auto;
                        width: auto;
                        margin: 0;
                    }
                }
            }
            &__head {
                .pag {
                    display: none;
                }
                .link {
                    display: none;
                }
            }
            &__footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

    .hor-slider.country {
        position: relative;
        .pag {
            position: absolute;
            left: 0;
            bottom: 1.4rem;
        }

        .link {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .country-slider {
            overflow: visible !important;
            .hor-slider {
                &__item {
                    height: -webkit-fit-content;
                    height: -moz-fit-content;
                    height: fit-content;
                    &-content {
                        margin-top: 13rem;
                        margin-bottom: 4.85rem * 2;
                    }

                    &-img {
                        width: 100%;
                        height: 18.4rem * 2;
                        max-width: 100%;
                    }

                    &-text {
                        margin-top: 3.6rem;
                        width: 80%;
                        .text {
                            margin-bottom: 3.2rem;
                        }
                    }
                }
                &__title {
                    bottom: -4.85rem * 2;
                }
            }
        }
    }

    .hor-slider.popular {
        position: relative;
        gap: 7.6rem;

        .pag {
            position: absolute;
            left: 0;
            bottom: 1.4rem;
        }

        .link {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .popular-slider {
            overflow: visible;
        }

        .hor-slider {
            &__item {
                height: -webkit-fit-content;
                height: -moz-fit-content;
                height: fit-content;

                &-cart-icon {
                    width: 6.1rem * 2;
                    height: 6.1rem * 2;

                    img {
                        width: 2.4rem * 2;
                        height: 2.8rem * 2;
                    }
                }

                &-cart-value {
                    width: 4rem;
                    height: 4rem;

                    bottom: 1.4rem;
                    right: 1.7rem;

                    span {
                        font-size: 3rem;
                    }
                }

                &-cart-btn {
                    width: 3rem * 2;
                    height: 3rem * 2;

                    span {
                        width: 1.9rem;
                        font-size: 5rem;
                    }

                    &--minus {
                        margin-bottom: 1rem;
                    }
                }

                &-text {
                    width: 85%;
                    margin-top: -1.6rem;
                }

                &-img {
                    margin-top: 1.8rem;
                    min-width: 14.9rem * 2;
                    min-height: 14.9rem * 2;

                    img {
                        -o-object-fit: contain;
                        object-fit: contain;
                    }
                }

                &-content {
                    height: 30.7rem * 2;
                    width: auto;
                }

                &-price {
                    margin-top: 3.6rem;
                }
            }
            &__content {
                height: 34.6rem * 2;
            }
        }
    }

    .hor-slider {
        .hor-slider__item-cart-controlls {
            gap: 3.7rem;
            bottom: -6.1rem;
        }
        .hor-slider__item-cart-btn {
            transform: translateY(-1.5rem);
        }
    }

    .hor-slider.our {
        position: relative;
        gap: 3.2rem * 2;

        .pag {
            position: absolute;
            left: 0;
            bottom: 1.4rem;
        }

        .link {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .our-slider {
            overflow: visible;
        }

        .hor-slider {
            &__title {
                top: -4.65rem * 2;
            }

            &__item {
                &-img {
                    margin-top: 6.2rem;
                    max-width: 100%;
                }
                &-text {
                    margin-top: 0;
                    width: 20.6rem;
                }
            }
        }
    }

    .hor-slider.mood {
        position: relative;
        gap: 8rem;
        .pag {
            position: absolute;
            left: 0;
            bottom: 1.4rem;
        }

        .link {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .mood-slider {
            overflow: visible;
        }

        .hor-slider {
            &__item {
                &__title {
                    bottom: 23.2rem * 2;
                    top: auto;
                }

                &-content {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    align-items: center;
                }
                &-text {
                    order: 1;
                    width: 90%;
                    margin-top: 14.2rem;
                    margin-bottom: 0;
                }

                &-img {
                    order: 2;
                    width: 16.3rem * 2;
                    height: 14.8rem * 2;
                    margin: 0;

                    img {
                        width: 100%;
                        height: 100%;
                        -o-object-fit: contain;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}

@media (hover: hover) {
    .hor-slider__item:hover {
        .hor-slider__item-cart-btn {
            visibility: visible;
        }
        .hor-slider__item-content {
            box-shadow: 0rem -6rem 15rem 0rem #feffcd inset;
            border-color: #feffcd;
            cursor: pointer;
            .cl-p & {
                clip-path: url(#cl-h);
            }
        }
        .hor-slider__item-content--white {
            border-radius: 17.85rem;
            box-shadow: none;
            background: linear-gradient(180deg, #fff 0%, #fff 100%);
            border-color: #fff;
        }
    }
}
