.catalog {
    &.wrapper__content::before {
        background-image: url('../img/webp/catalog-bg.webp');
    }

    @media (max-width: 48em) {
        &.wrapper__content {
            margin-bottom: 18rem;
            &::before {
                background-image: url('../img/webp/catalog-bg-mob.webp');
            }
        }
    }

    .seo {
        padding-bottom: 7rem;
    }

    .catalog-hero__wrapper {
        @include small-tablet {
            padding-bottom: 35rem;
        }
    }
}
