.main {
    &.wrapper__content::before {
        background-image: url('../img/webp/main-bg.webp');
    }

    @media (max-width: 48em) {
        &.wrapper__content {
            margin-bottom: 15rem;
            &::before {
                background-image: url('../img/webp/main-bg-mob.webp');
            }
        }
    }
}
