.product {
    &.wrapper__content::before {
        background-image: url(../img/webp/product-bg.webp);
    }
    @media (max-width: 48em) {
        &.wrapper__content {
            margin-bottom: 18rem;
            &::before {
                background-image: url(../img/webp/product-bg-mob.webp);
            }
        }
    }
}
